/* Basic centering and font definition */
.centered-text {
  text-align: center;
}

.get-rid-of-gddamn-times {
  font-family: Arial, sans-serif;
}

/* these make it so the buttons start hidden and are displayed l8r */
#button2 {
    visibility: hidden;
    }

#button3 {
    visibility: hidden;
    }

#button4 {
    visibility: hidden;
    }
