.centered-text {
  text-align: center;
}

.get-rid-of-gddamn-times {
  font-family: Arial, sans-serif;
}

#button2 {
    visibility: hidden;
    }

#button3 {
    visibility: hidden;
    }

#button4 {
    visibility: hidden;
    }

#vid {
    visibility: hidden;
    }
